.card {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
}

h3 {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.layout {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    min-height: 100vh;
    /* background-color: #9c2e38; */
}

body {
    /* background-color: #9c2e38; */
    background-image: url("../../../public/assets/BECAS.jpg");
}

img {
    width: 400px;
    height: 100px;
}

.card-body {
    width: 100%;
    padding: 20px;
}